@import 'demo';
@import '../src/mixins';

.site-header {
	background: darken(map-get($colours, 'secondary'), 15%);
	@include animate(slideInDown);

	&__subheader {
		background: darken(map-get($colours, 'secondary'), 10%);
		box-shadow: 0 0 1rem 0 darken(map-get($colours, 'secondary'), 20%);
	}
}

.site-footer {
	@include animate(slideInUp);
}

.module {

	&__hero {

		&__image {
			object-position: center center;
			@include animate(fadeIn);

			@include media-breakpoint-up(xl) {
				object-position: center center;
			}
		}

		&__copy {
			@include animate(fadeInRight);
		}
	}

	&__copy {
		@include animate(fadeIn);
	}

	&__call-to-action {
		@include animate(fadeInUp);
	}

	&__copy-image {

		&__image,
		&__copy {
			@include animate(fadeIn);
		}

		@include media-breakpoint-up(md) {
			&--odd & {

				&__image {
					@include animate(fadeInRight);
				}

				&__copy {
					@include animate(fadeInLeft);
				}
			}

			&--even & {

				&__image {
					@include animate(fadeInLeft);
				}

				&__copy {
					@include animate(fadeInRight);
				}
			}
		}
	}
}
