@import 'demo';

.site-header {
	background: darken(map-get($colours, 'tertiary'), 15%);

	&__subheader {
		background: darken(map-get($colours, 'tertiary'), 10%);
		box-shadow: 0 0 1rem 0 darken(map-get($colours, 'tertiary'), 20%);
	}
}
